# Core
streamlit
plotly>=5.20
pandas>=2.0
numpy
python-dateutil

# ML / NLP
torch
tokenizers
scikit-learn==1.6.1
transformers==5.0.0
safetensors

# Data + APIs
requests
apify-client
huggingface_hub

# Visualization
pydeck

# Text processing
emoji
ftfy

# Optional
tqdm
torchvision

# Automation
streamlit-autorefresh

# Map
geopy
